@charset "utf-8";

table.cart { width:100%; margin-bottom:40px;}
table.cart th, table.cart td { border:1px solid #D0E0F3; }
table.cart thead th { background-color:#e7f3ff; padding:3px 10px; color:#006cb0; text-align:center; width:1%;}
table.cart thead th.c3 { width:40%;}
table.cart tbody td { padding:10px 10px; }
table.cart tbody .c1 {color:#006cb0; font-weight:bold;}
table.cart tbody .c1, table.cart tbody .c2, table.cart tbody .c5, table.cart tbody .c7 { text-align:center;}
table.cart tbody .c4, table.cart tbody .c6 { text-align:right; padding-left:40px; white-space:nowrap; font: normal 24px/30px 'Source Sans Pro', sans-serif; color: #01a6ff;}
table.cart tbody .c5 .input-number { min-width:60px; width:100%;}
table.cart tbody .c3 { font-size:20px;}
table.cart tbody .c3 div { font-size:18px; color:#b1b1b1;}
table.cart tbody .c3 span { color:#006cb0;}
table.cart .cell-fake { border:none !important; border-left:1px solid #ab9b8f !important; background-color:#fff !important; padding:0 !important;}
table.cart .total th { text-align:right; font-size:20px; padding:10px 10px; border:none !important; }
table.cart .total .c6 { text-align:right; padding:10px 10px 10px 40px; white-space:nowrap; font: normal 26px/30px 'Source Sans Pro', sans-serif; color: #01a6ff;}
table.cart a.gdel { color:#ccc;}
table.cart a.gdel:hover { color:#666;}

.contacts-note { background-color:#e7f3ff; padding:20px;}

.user-data { padding:20px 0 40px 0;}
.user-data .fld { display:table-row;}
.user-data .fld label { display: table-cell; width: 180px; color: #004687; font-weight: 400; vertical-align: top; padding-top: 7px; padding-bottom: 15px;}
.user-data .fld label.zv:after { content:"*"; position:absolute; padding-left: 2px; color: red;}
.user-data .fld input, .user-data .fld textarea { display:table-cell; width:350px; resize:none;}

.callme { color:#b1b1b1; padding:20px 0 0 0; font-size:14px;}
.callme .btn-group { margin-left:15px;}
.callme .btn { padding:4px 10px 6px 10px;}
.callme .btn b { width:40px; color:#fff; font-weight:normal; display:inline-block; line-height:1; }
.callme a { text-decoration:none;}

.confirm { color: #b1b1b1; display: inline-block; font-size: 14px; padding-top: 10px; width: 50%; }