@charset "utf-8";

.gim { float:left; width:255px;}
.gim .gim-chief { text-align:center; padding-bottom:30px;}
.gim .gim-chief img { cursor: url(/img/zoomin.cur), pointer;}
.gim .gim-other .im { float:left; text-align:center; width:45px; height:45px; margin:0 18px 18px 0; box-shadow:0 0 5px #ccc;}
.gim .gim-other .im:hover, .gim .gim-other .im.active { box-shadow:0 0 5px #006cc3; }

.good-preview { float:left; width:320px; padding-left:15px; }
.good-preview .h { font:normal 20px/1 'Alegreya Sans', sans-serif; color:#004687; padding-bottom:10px;}
.good-preview .info { padding-bottom:10px; font-size:14px;}

.good-prm { float:right; width:300px; text-align:right;}
.good-prm .lb { float:left; font:normal 20px/30px 'Alegreya Sans', sans-serif; color:#313132;}
.good-prm .price { font:normal 24px/30px Arial, Helvetica, sans-serif; color:#01a6ff;}
.good-prm .note { clear:both; font-size:12px; line-height:1; color:#999999; text-align:left; padding-top:10px; width:160px;}
.good-prm .sep { clear:both; font-size:0; padding:10px 0 0; margin:0 0 10px 0; border-bottom:1px solid #ebebeb; background:none;}
.good-prm select { width:auto; float:right; color:#313132; font-size:16px;}
.good-prm .input-group { width:60px; margin-top:-3px; float:right;}
.good-prm .tocart { background-color:#3093ef;}

.good-info { padding-top:30px;}
.good-info .h { font:normal 20px/1 'Alegreya Sans', sans-serif; color:#004687; padding-bottom:20px;}

.good-similar .h { font: normal 36px 'Alegreya Sans', sans-serif; margin: 20px auto 20px; color: #313132; text-align: center;}
.good-similar .h + .sep { width:100px; margin:0 auto 20px auto;}